# Node
node_modules/
npm-debug.log
yarn-error.log

# Python
__pycache__/
*.pyc
venv/
.env
.venv/

# IDE/OS
.vscode/
.idea/
.DS_Store

# Data and Models
*.pkl
*.csv
*.h5
*.hds5
*.joblib
*.npy
*.npz

# Ignore all uploads dynamically
backend/uploads/*
!backend/uploads/.gitkeep
